[Unit]
Description=Cadvisor
After=docker.service
Requires=docker.service

[Service]
User=root
EnvironmentFile={{cadvisor_config_file}}
ExecStart=/usr/sbin/cadvisor $OPTIONS

[Install]
WantedBy=multi-user.target
